.estiloFooter {
    border-top: 1px black solid;
    margin-top: 100px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    font-family: "Roboto";
   


}

.parrafoFooter {
    padding: 1px;
    font-weight: bold;
    font-size: 1rem;
    font-family: "Roboto";
  
}